.App {
  text-align: center;
  background-color: #eae6e9;}

.App-logo {
  align-self: center;
  color: cyan;
  height: 6.2vmin;
  pointer-events: none;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin infinite 3.3s linear;}}

.App-header {
  padding-left:2em;
  line-height: 1;
  background-color: #3a3439;
  font-size: calc(0.6em + 2vmin);
  color: white;}

.App-link {
  color: #61dafb;}

.navbar{
  width: 100%;}

.navbar ul{
    list-style: none;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-around;}

.navbar a{
  text-decoration: none;
  color: whitesmoke;
  transition: 0.4s all;}

.navbar a:hover{
  color: #f1dafb;}

.loading, .error{
  font-size: 4em;
  padding: 1em;
  width: max-content;
  margin: 0 auto;}

main{
  margin: 0 0.4em 2em;
  border-bottom: 2px solid black;}

main a{
  color: midnightblue;
  text-decoration: none;
  transition: 0.25s all;}

main a:hover{
  color: steelblue;}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: spin2 0.8s linear;}}

.blog{
  flex-wrap: wrap;
  flex-direction: row-reverse;}

.post-preview{
  background-color: rgba(255,248,254,0.4);
  min-width: 37%;
  flex: 1;
  color: #3a3439;
  margin: 0 1em 1em;
  border-bottom: 2px solid lightgrey;
  border-radius: 10px;
  padding-bottom: 0.4em;
  transition: 0.25s all;}

.post-preview:hover{
  box-shadow: 2px 2px 7px rgba(2,2,2,0.1);}

.post-single article{
  font-size:1.067em;
  margin: 0 0 0.678em 1em;
  text-align: left;}

.post-single article>div{
  margin-bottom: 0.678em;}

.post-single .postmeta{
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;}

.post-single article.status .postbody{
  text-align: center;
  font-size: 1.6em;
}
.create form{
  max-width: 40em;
  text-align:left;
  margin: 1em auto;}

.create form>div{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;}

.create .form-controls{
  flex-direction: row;
  justify-content:space-between;}

.create form label{
  font-style: italic;
  margin-right: 0.4em;}

.create form button{
  width: 6em;}

.create form button:disabled{
  background-color: black;}

.create form .body{
  height: 12em;}

@keyframes spin {
  from {
    transform: scale(0, 0) rotate(0deg) scale3d(1.2, 1.4, 0.4) translate(62px);}
  to {
    transform: scale(1.4, 1.6) rotate(360deg) scale3d(1, 1.2, 4) translate(-16px);}}

@keyframes spin2 {
  from {
    transform: scale(0.6, 0.4) rotate(-12deg) scale3d(0.1, 0.6, 1);}
  to {
    transform: scale(1, 1) rotate(0deg) scale3d(1, 1, 3);}}

/* media queries */


@media screen and (min-width: 30em){

  .App-header {
    padding-left:0;}

  .navbar{
    align-items: baseline;
    justify-content: center;}

  .navbar ul{
    flex-direction: row;
    justify-content: space-between;}

}

@media screen and (min-width: 42em){
  .post-single article.essay .postbody{
    columns: 2;}
}
