body {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Muli', 'Monaco', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;}

h1{font-size: 2.178em}
h2{font-size:1.913em}
h3{font-size:1.68em}
h4{font-size:1.476em}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', 'Gerogia', serif;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}

 /*helpers*/
 .flx{display: flex;}
